<br>
<br>
<form [formGroup]="addbook" novalidate class="for">
    <div class="form-group mt-4">
      <label for="exampleInputtitle">Book Title </label>
      <input type="text" class="form-control" id="exampleInputtitle" placeholder="Enter Book Name" formControlName="Book_Title">
    </div> 
    <div class="form-group mt-4">
      <label for="exampleInputAuthor">Book Author</label>
      <input type="text" class="form-control" id="exampleInputAuthor" placeholder="Book Author" formControlName="Author">
    </div>
    <div class="form-group mt-4">
        <label for="exampleInputISBN">ISBN Number</label>
        <input type="text" class="form-control" id="exampleInputISBN" placeholder="ISBN Number" formControlName="ISBN">
      </div>
    <button type="submit" class="btn btn-primary mt-3"(click)="onsubmit()">Submit</button>
  </form>

